
nav {
  display: flex;
  flex-direction: column; 
  background-color: #F8F9FA;
  width: 250px;
  height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  align-items: center; 
}

.logo {
  width: 100px; 
  height: auto; 
  margin-bottom: 20px;
  justify-content: center; 
}

nav ul {
  list-style-type: none;
  padding: 0;
  width: 100%; 
}

nav li {
  display: flex; 
  align-items: center; 
  margin: 10px 0;
  font-size: 18px;
  color: #333;
  font-weight: 500;
  cursor: pointer;
}

nav li:hover {
  color: #0a1ebc;
}

nav li:first-child {
  font-weight: bold;
  color: #0f0202;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}


.icon {
  margin-right: 5px; 
}

ul:last-of-type {
  margin-top: auto; 
}


